:root {
  --main-bg-color: black;
  --main-font-color: white;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----- Home Page ------ */
/* HEADER */
.hero {
  font-size: 2rem;
  text-align: center;
  position: relative;
  background-image: url("./images/MM-Web-optimized.gif");
  background-position: top;
  background-size: 20rem;
  background-repeat: no-repeat;
  background-color: rgb(87, 86, 86);
}

.title {
  padding: 2rem;
  font-size: 4rem;
}

.hero__number {
  padding: 3rem;
}

.hero__number h1 {
  font-size: 3rem;
}

.hero__signup p {
  font-size: 1em;
}
.hero__socialmedia {
  padding: 1rem 0;
}

.btn {
  margin-top: 0.9rem;
  font-size: 2rem;
}

.data-packed {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0rem;
}

/* FOOTER */
.footer {
  text-align: center;
}

/* Navbar */
.navbar {
  font-size: 2rem;
  margin-top: 2rem;
}

.navbar img {
  height: 10rem;
}

.navbar-nav {
  text-align: center;
}

.navbar .dropdown-menu .dropdown-item {
  font-size: 2rem;
}
.navbar-collapse li {
  margin: 0 3rem;
}

/*------ Males Page ------*/
#men4Hire {
}

#men4Hire p {
  font-size: 1.3rem;
}

/*------ male-strippers-for-hire Page ------*/

.card-text {
  font-size: 1.6rem;
}
.card-title {
  font-size: 2rem;
}

#gallery__discription .intro {
  padding: 3rem 0;
}

#gallery__discription .intro h1 {
}

#gallery__cards .card {
}

#gallery__cards {
  padding: 4rem 0;
  font-size: 1.3rem;
}

/* --- Strippers Pages --- */
#trouble {
  padding: 4rem 0;
}

/* Form */
form {
  font-size: 3rem;
  margin: 3rem 0;
}

/* TEST */
#test {
  height: 150rem;
  background: aquamarine;
}
