:root {
  --main-bg-color: black;
  --main-font-color: white;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.hero {
  font-size: 2rem;
  text-align: center;
  position: relative;
}

.title {
  padding: 2rem;
  font-size: 8rem;
}

.hero__number {
  padding: 3rem;
}

.hero__number h1 {
  font-size: 3rem;
}

.hero__signup p {
  font-size: 1em;
}
.hero__socialmedia {
  padding: 1rem 0;
}

.btn {
  margin-top: 0.9rem;
  font-size: 2rem;
}

.data-packed {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0rem;
}

/* Footer */

/* Navbar */
.navbar {
  font-size: 2rem;
  margin-top: 2rem;
}

.navbar img {
  height: 8rem;
}

.navbar-nav {
  text-align: center;
}

.navbar .dropdown-menu .dropdown-item {
  font-size: 2rem;
}
.navbar-collapse li {
  margin: 0 3rem;
}

/*------ Males Page ------*/
#men4Hire {
}

#men4Hire p {
  font-size: 1.3rem;
}

/*------ Gallery Page ------*/

#gallery__discription .intro {
  padding: 3rem 0;
}

#gallery__discription .intro h1 {
  font-size: 3rem;
}

#gallery__cards .card {
}

#gallery__cards {
  padding: 4rem 0;
  font-size: 1.3rem;
}

/* Form */
form {
  font-size: 3rem;
  margin: 3rem 0;
}

/* TEST */
#test {
  height: 150rem;
  background: aquamarine;
}
